@page
@model Inventory.Pages.SaleOrders.EditModel

<!-- Edit Sale Order Page -->

@{
    ViewData["Title"] = "Edit";
}

<h1>Edit</h1>

<h4>SaleOrder</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form method="post">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="SaleOrder.SaleID" />
            <div class="form-group">
                <label asp-for="SaleOrder.Customer" class="control-label"></label>
                <select asp-for="SaleOrder.CustomerID" class="form-control" asp-items="@Model.CustomerNameSL"></select>
                <span asp-validation-for="SaleOrder.CustomerID" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="SaleOrder.Date" class="control-label"></label>
                <input asp-for="SaleOrder.Date" class="form-control" />
                <span asp-validation-for="SaleOrder.Date" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="SaleOrder.Status" class="control-label"></label>
                <input asp-for="SaleOrder.Status" class="form-control" />
                <span asp-validation-for="SaleOrder.Status" class="text-danger"></span>
            </div>
            @for (int i = 0; i < Model.saleItems.Count; i++){
                <dt class="col-sm-2">
                    @Html.DisplayNameFor(modelItem => Model.saleItems[i].Item)
                </dt>
                <dd class="col-sm-10">
                    <select asp-for="@Model.saleItems[i].ItemID" value="@Model.saleItems[i].ItemID" asp-items="Model.ItemsSL" class="form-control"></select>
                </dd>
                <dt class="col-sm-2">
                    @Html.DisplayNameFor(modelItem => Model.saleItems[i].Quantity)
                </dt>
                <dd class="col-sm-10">
                    <input asp-for="@Model.saleItems[i].Quantity" type="number" value="@Model.saleItems[i].Quantity" class="form-control"/>
                </dd>
            }
            <div class="form-group">
                <input type="submit" value="Save" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-page="./Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}